body {
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 0px;
}

ul {
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  width: 33%;
  height: 30px;
  white-space: nowrap;
  float: left;
}

li a {
  text-decoration: none;
}


.country > .content {
    display: none;
}
